*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.popup{
    position: absolute;
}
.bar{
    margin: 20px;
}
#menu{
    position: fixed;
}
#menu:hover{
    cursor: pointer;
}
.navbar{
    display: block;
}
.hide{
    display: none;
}
.cont{
    list-style: none;
    margin-left: 50px;
    margin-top: 30px;
}
.p{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
    margin-top: 2px; 
}
.c{
    padding: 5px;
}
.c:hover{
    background-color: black;
    color: white;
}