*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.c:hover,a:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transition-duration: 0.6s;
    padding: 7px 150px;
}
li{
    display: inline-block;
}
a{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}
.c{
    border: 1px solid black;
    background-color: aqua;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}
.navbar{
    display: flex;
    height: 5vh;
    width: 100%;
}