*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


ul{
   
      /* height: 400px; */
      display: flex;
      /* flex-direction: column; */
      /* background: #f4f4f4; */
      /* Always on the main axis start, center, end, space around, space between */
      justify-content: space-between; 
      /* Always on the cross axis */
      align-items: start;
      list-style-type: none;
}

a{
    flex-basis: 100px;
    height: 40px;
    margin: 10px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: aqua;
    
}

a:hover{
    color: white;
    background-color: black;
}
