* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  

 
  
  .menu {
    display: flex;
    gap: 1 rem;
    margin: 0;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    border: 1px solid orange;

  }
  
  .menu a {
    width: max-content;
    height: max-content;
    background-color: aqua;
    color: #fff;
    margin: 10px;
  }

  .flex-container{
    /* height: 400px; */
    display: flex;
    /* flex-direction: column; */
    background: #f4f4f4;
    /* Always on the main axis start, center, end, space around, space between */
    justify-content: space-between; 
    /* Always on the cross axis */
    align-items: start;
    flex-wrap: wrap;
    list-style-type: none;

}

a{
    flex-basis: 100px;
    height: 100px;
    background-color: #254de4;
    margin: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

ul{
  
}